# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Temporary files
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.VoiceProcessingToolkit/voice_detection/Wav_MP3/recording.wav



.aider*
