# Python virtual environments
.venv/
.venv_test/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Local development settings
.DS_Store

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.hypothesis/

# Translations
*.mo
*.pot

# Environments
env/
env.bak/
venv.bak/

# PyCharm
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Temporary files
*.swp
*.swo

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Correcting the path to ensure .wav files are not ignored in the Wav_MP3 directory
VoiceProcessingToolkit/wake_word_detector/Wav_MP3/*.wav

.aider*
