include LICENSE
include README.md
include example_config.json
include pyproject.toml
include MANIFEST.in

recursive-include example_usage *.py
recursive-include tests *.py
recursive-include tests/resources *

# Include sound files
recursive-include VoiceProcessingToolkit/wake_word_detector/Wav_MP3 *.wav

# Include docs
recursive-include docs *.md *.rst *.txt

# Exclude unnecessary files
global-exclude *.py[cod] __pycache__ *.so *.dylib .* 
exclude .git* .vscode .pytest_cache
prune .git
prune .github
prune .vscode
