annotated-types==0.7.0
asttokens==3.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
elevenlabs==0.2.27
executing==2.2.0
idna==3.10
ipython==9.0.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
numpy==1.26.4
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.50
ptyprocess==0.7.0
pure-eval==0.2.3
pvcobra==2.0.5
pvkoala==2.0.4
pvporcupine==3.0.5
pyaudio==0.2.14
pydantic==2.10.6
pydantic-core==2.27.2
pygame==2.5.2
pygments==2.19.1
python-dotenv==1.0.1
requests==2.31.0
setuptools==68.2.2
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.12.2
urllib3==2.3.0
-e file:///Users/kristoffervatnehol/Documents/Voice_processor_two/VoiceProcessingToolkit
wcwidth==0.2.13
websockets==15.0
